.container {
	position: relative;
	margin: 0px auto;
	width: 1030px;
}

#header {
	border-bottom: 1px solid #e3e1d9;
	color: #858278;
	height: 111px;
	overflow: hidden;
}

#head-title {
	display: inline-block;
	font-size: 40px;
}

#button-login, #button-logout {
	border: 0px;
	background: white;
	color: #B70E4F;
	font-size: 15px;
}

#menu {
	list-style: outside none;
	width: 1030px;
	margin: 0 auto;
	text-align: center;
}

#menu li {
	display: block;
	float: left;
	/*margin: 10px 5px;*/
	width: 80px;
	height: 21px;
	padding: 10px;
	font-size: 20px;
}

#menu li:hover, .selectedItem {
	background: #B70E4F;
}

#menu li:hover a, .selectedItem a {
	color: white;
}

#bodybox {
	margin-top: 50px;
	color: #858278;
}

#login {
	display: none;
	width: 300px;
	margin: 0px auto;
}

.inform {
	display: inline-block;
	width: 70px;
	margin: 10px;
}

#submit {
	display: block;
	width: 150px;
	margin: 0 auto;
}