.container {
    position: relative;
    margin: 0px auto;
    width: 1030px;
}

#header {
    color: #858278;
    /*height: 111px;*/
    padding-top: 10px;
    overflow: hidden;
}

#head-title {
    font-size: 36px;
    margin: 20px 0;
    padding-left: 60px;
    font-family: "楷体";
}

#sub-head-title {
    margin: 10px;
    font-size: 20px;
    text-align: left;
    font-family: "楷体";
}

#button-login, #button-logout {
    border: 0px;
    background: white;
    color: #B70E4F;
    font-size: 15px;
}

#menu {
    margin: 0 auto;
    border-top: 1px solid #e3e1d9;
    border-bottom: 1px solid #e3e1d9;
    list-style: outside none;
    text-align: center;
}

#menu-container li {
    display: block;
    float: left;
    min-width: 80px;
    height: 21px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#menu-container li a {
    color: #7278D8;
}


#menu-container li:hover, .selectedItem {
    background: #B70E4F;
}

#menu-container li:hover a, .selectedItem a {
    color: white;
}

.submenu {
    display: none;
    position: relative;
    left: 0;
    border-bottom: 1px solid #e3e1d9;
}
#menu-container .submenu li {
    font-size: 16px;
}
#default-submenu {
    display: inline-block;
    visibility: hidden;
}

#bodybox {
    color: #858278;
}

#login {
    display: none;
    position: relative;
    background-color: #fff;
    width: 300px;
    margin: 0px auto;
    padding: 40px 25px 30px 40px;
    border: 1px solid #e3e1d9;
    z-index: 30;
}

.inform {
    display: inline-block;
    width: 70px;
    margin: 10px;
}

#autoLogin {
    width: 35%;
    margin: 0 auto;
}

.submit {
    width: 190px;
    margin: 0 auto;
}

#button-submit, #button-cancel {
    background-color: white;
    border: 1px solid #e3e1d9;
    padding: 5px;
    margin: 10px 10px;
    width: 70px;
}

#cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter:alpha(opacity=50)\9; /* for IE */
    background-color: black;
    z-index: 20;
}