.container {
	position: relative;
	margin: 0px auto;
	width: 1030px;
}

#header {
	border-bottom: 1px solid #e3e1d9;
	color: #858278;
	height: 111px;
	overflow: hidden;
}

#header #left {
	display: inline-block;
	font-size: 40px;
}

#bodybox {
	margin-top: 50px;
	color: #858278;
}

.login {
	width: 300px;
	margin: 0px auto;
}

.inform {
	display: inline-block;
	width: 70px;
	margin: 10px;
}

#button {
	display: block;
	width: 150px;
	margin: 0 auto;
}