.container {
	position: relative;
	margin: 0px auto;
	width: 1030px;
}

#header {
	border-bottom: 1px solid #e3e1d9;
	color: #858278;
	height: 111px;
	overflow: hidden;
}

#header #left {
	display: inline-block;
	font-size: 40px;
}

#header #right {
	display: inline-block;
	font-size: 15px;
	float: right;

}

a {
	text-decoration: none;
	color: #B70E4F;
}

#index {
	height: 41px;
	border-bottom: 1px solid #e3e1d9;
}

ul {
	float: left;
	list-style: outside none none;
	position: relative;
	padding: 0px;
	margin: 0px;
}

li {
	float: left;
}

li a {
	font-size: 20px;
	display: block;
	position: relative;
	/*margin: 10px 5px;*/
	padding: 10px;
	height: 21px;
	width: 80px;
	text-align: center;
}

li a:hover {
	background: #B70E4F;
	color: white;
}

.selectedItem {
	background: #B70E4F;
	color: white;
}

#bodybox {
	margin-top: 50px;
}

.selectedItem {
	background: #B70E4F;
	color: white;
}